:root {
    --main-color: #AD3330;
}

body {
    font-family: "Geometria", sans-serif;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.05);
}


header menu li {
    padding: 20px 0;
    color: #323232;
    font-size: 15px;
}

.nav-btn {
  opacity: 0;
  transition: 0.3s;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 25px;
  background-color: #fff;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 14px !important;
  color: gray;
  font-weight: bold;
}

.mySwiper:hover .nav-btn {
  opacity: 1;
}

.products .card {
    position: relative;
    height: 280px;
    background: transparent;
    border: none;
    overflow: hidden;
    border-radius: 2px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin: 0 12px;
}

.products .card:after,
.products .card:before {
    height: 100%;
    width: 100%;
    position: absolute;
    content: '';
    transition: 0.3s ease-in-out;
    opacity: 0.99;
    z-index: 1;
}

.products .card:before {
    background: linear-gradient(to top, #2b1919, rgba(43, 25, 25, 0.5));
    opacity: 0;
}

.products .card img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    top: 0;
    left: 0;
    right: 0;
}

.products .card .text {
    position: absolute;
    bottom: -20px;
    z-index: 2;
    color: white;
    word-wrap: break-word;
    width: 100%;
    padding: 0px 30px;
    transition: 0.3s ease-in-out;
}

.products .card .text h5 { font-size: 16px }

.products .card .text p {
    font-size: 13px;
    color: #a99f94;
}

.products .card:after {
    background: linear-gradient(to top, #000000bf, rgba(43, 25, 25, 0));
    opacity: 1;
}

.products .card:hover:before {
    opacity: 1;
    transition: opacity 0.3s;
}

.products .card:hover .text {
    bottom: 15px;
    transition: 0.3s ease-in-out;
}

.products .card:hover:after {
    opacity: 0;
    transition: opacity 0.3s;
}


/* Projects Section  */
.projects {
    padding: 60px 0;
}

.projects__inner,
.layihe__inner {
    background: #363435;
    border-radius: 32px;
    padding: 30px;
}

.projects p,
.layihe p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
}

.projects .btn,
.layihe .btn {
    cursor: pointer;
    padding: 1rem 4rem;
    border: 0;
    background-color: #ad332f;
    color: white;
    box-shadow: 0px 5px 0px 0px #3c1311;
    transition: all 0.9s ease-in-out;
    font-weight: 600;
    font-size: 1rem;
    position: relative;
    margin-top: 2rem;
    margin-left: auto;
    width: 300px;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}

.projects .btn:hover,
.layihe .btn:hover {
    box-shadow: 0px 5px 0px 0px #960400;
    background-color: #960400;
}

.projects .btn:hover::before,
.layihe .btn:hover::before {
    width: 100%;
}

.projects .btn::before,
.layihe .btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    box-shadow: 0px 5px 0px 0px rgb(0 0 0);
    width: 0;
    height: 10px;
    transition: all 0.9s ease-in-out;
}

.projects .swiper-slide,
.layihe .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    border-radius: 24px;
    cursor: pointer;
}

.projects .swiper-slide span,
.layihe .swiper-slide span {
    position: absolute;
    z-index: 5;
    color: #000;
    background: #fff;
    top: 25px;
    left: 15px;
    padding: 8px 16px;
    border-radius: 36px;
    font-weight: 600;
    letter-spacing: .2px;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-width: 80%;
}

.projects .swiper-slide img,
.layihe .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
}

.projects .swiper-text,
.layihe .swiper-text {
    position: absolute;
    color: #fff;
    z-index: 5;
    bottom: 25px;
    padding: 0 15px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    z-index: 6;
}

.projects .swiper-text h2,
.layihe .swiper-text h2 {
    font-size: 20px;
    line-height: 26px;
    text-align: left;
}

.projects .project-btn,
.layihe .project-btn {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: #AD3330;
    color: #fff;
    z-index: 7;
    border-radius: 16px;
    font-size: 16px;
    transition: .4s all ease;
    font-weight: 600;
    width: 160px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects .swiper-slide::after,
.layihe .swiper-slide::after {
    background: linear-gradient(180deg, transparent, #00000080);
    bottom: 0;
    content: "";
    display: block;
    height: 190px;
    left: 0;
    position: absolute;
    width: 100%;
    border-radius: 23px;
    transition: .4s all ease;
    z-index: 5;
}

.projects .swiper-slide .project-btn,
.layihe .swiper-slide .project-btn {
    border-radius: 12px;
}

.projects .swiper-slide:hover .project-btn,
.layihe .swiper-slide:hover .project-btn {
    visibility: visible;
    opacity: 1;
}

.projects .swiper-slide:hover::after,
.layihe .swiper-slide:hover::after {
    background: #00000045;
    top: 0;
    height: 100%;
}

.projects .swiper-slide:hover span,
.layihe .swiper-slide:hover span {
    z-index: 4;
}

.projects .swiper-slide:hover .swiper-text,
.layihe .swiper-slide:hover .swiper-text {
    visibility: hidden;
    opacity: 0;
}

.swiper-pagination-projects {
    display: flex;
    padding-top: 1rem;
}

.swiper-pagination-projects .swiper-pagination-bullet {
    background: #fff !important;
    opacity: 1 !important;
    border-radius: 0!important;
    height: 10px!important;
    width: 100%!important;
    display: inline-block!important;
}

.swiper-pagination-projects  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #AD3330 !important;
}

.informations {
    padding: 60px 0;
    background-color: #f6f6f6;
}

.informations .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.informations .title h2 {
    text-align: left;
    margin: 0;
}

.informations .title a {
    font-size: 15px;
    color: black;
    font-weight: 500;
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 30px;
    white-space: nowrap;
}

.informations .title a:hover svg { right: -10px }

.informations .title svg {
    transition: .3s;
    position: absolute;
    right: 0;
}

.informations-inner {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.informations-inner article {
    cursor: pointer;
    width: 31%;
    min-width: 31%;
}

.informations-inner article:hover img {
    transform: scale(1.02);
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.informations-inner article img {
    border-radius: 20px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: .3s;
    margin-bottom: 5px;
}

.informations-inner article p {
    font-size: 18px;
    font-weight: bold;
    color: #2f313f;
}

.informations-inner article span {
    font-size: 12px;
    color: #2f313f;
    margin: 10px 0;
}


/* references  */

.references { padding: 60px 0 }
.references .swiper .swiper-wrapper div { height: 150px }
.references h2 { margin-bottom: 12px }

.references .partbox, .references-static__inner .partbox {
    border: 1px solid #e4e4e4;
    padding: 20px;
    border-radius: 3px;
    height: 170px;
    background: #fff;
}

.partbox img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.references-static__inner {
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
    row-gap:20px;
    justify-content: center;
    padding-bottom: 50px;
}

.references-static__inner .swiper-slide {
    max-width: 240px;
    flex-wrap: wrap;
    gap:20px
}

/* footer */

footer { background: #000; padding: 40px 0 30px 0}
footer .logo { width: 130px }
.footer-main a { color: #fff }
.footer-main ul { display: inline-block }
.footer-main .row .footer-item { text-align: right }
.footer-main .row .footer-item ul { text-align: left }
.footer-main ul li { margin-bottom: 10px }
.footer-main ul li a { font-size: 13px; color:#bdc6cf }
.footer-main ul li a:hover { color: #fff ;}

.footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.footer-socials {
    display: flex;
    gap: 15px;
}

.footer-socials a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
}

.footer-socials a:hover { background: #AD3330 }
.footer-socials a:hover i{ color: #fff }

.footer-socials a i { color: #000}

.footer-numbers i {
    font-size: 17px;
    color: var(--main-color);
}
.footer-numbers a {
    color: #fff !important;
    font-size: 17px;
    font-weight: 600;
    text-align: end;
    margin-bottom: 10px;
    transition: 0.1s ease-in-out;
}

.footer-numbers a:hover { color: var(--main-color)!important }

.footer-numbers i { color: var(--main-color) }
.footer-numbers ul li { text-align: right }
.footer-numbers ul li a {
    font-size: 17px!important;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}

.footer-numbers .email span { color:#bdc6cf }

.footer-bottom ul { 
    display: flex; 
    flex-wrap: wrap;
}

.footer-bottom ul li { margin-right: 25px }
.footer-bottom ul li a { color: #bdc6cf; font-size: 13px }
.footer-bottom ul li a:hover { color: #fff }
.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.copyright {
    position: relative;
    color:#bdc6cf;
    font-size: 13px;
}

.copyright a { 
    display: flex; 
    align-items: center;
    position: absolute;
    color: #bdc6cf;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.oklogo { width: 100px }


.btn-submit {
    margin-top: 20px;
    cursor: pointer;
    background: var(--main-color);
    color: #fff;
    border-radius: 8px;
    font-weight: 400;
    height: 56px;
    line-height: 56px;
    transition: 0.3s ease-in-out;
    padding: 0 70px;
    font-size: 15px;
    animation: inf-pulse 1.1s;
    animation-iteration-count: infinite;
    box-shadow: 0 0 0 18px transparent;
    font-weight: 500;
}

@keyframes inf-pulse{
    0% {
    -webkit-box-shadow: 0 0 0 0 #ED1C24;
    -moz-box-shadow: 0 0 0 0 #ED1C24;
    -o-box-shadow: 0 0 0 0 #ED1C24;
    box-shadow: 0 0 0 0 #ED1C24;
}
}